#container{
  background-color: black;
  height: 600px;
  width: 600px;
}

#object{
  background-color: violet;
  height: 100px;
  width: 100px;
}

#btn-container{
  width: 600px;
  height: 80px;
  background-color: blue;
}

