#root{
  display: flex;
  
}

#container{
  position: relative;
  margin-left:auto;
  height: 400px;
  width: 600px;
  background-color: black;
}

#object{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: violet;
}

#btn-container{
  margin-right:auto;
  display: inline-block;
  height: 30px;
}

#up,#down,#right,#left{
  width: 150px;
  height: 100px;
  padding: 5px;
  display: block ;
}

